@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
/* Fondo Negro a toda mi pagina */
body {
  background: black;
}

/* Mi nav */
header {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 1000;
  background: black;
  border-bottom: 2px solid #f6be03;
}

header .fondoNav {
  background: #252525 !important;
}

header .fondoNav .logoTamaño {
  width: 100px;
  margin-right: 20px;
}

header .navbar-dark .navbar-nav .nav-link {
  font-family: "Rye";
  font-size: 20px;
}

header .navbar-dark .navbar-nav .nav-link:hover {
  border-bottom: solid 1px #f6be03;
}

header .navbar-dark .navbar-nav .nav-link.colorLink.active {
  color: #f6be03;
}

/* Fin Mi nav */
/* Index */
/* Bienvenidos */
.bienvenidos.fondoEncabezadoIndex {
  padding: 170px 0;
  background: url(../img/imagenIndex.jpg);
  background-position: 0 25%;
  position: relative;
  height: 525px;
}

.bienvenidos.fondoEncabezadoIndex .tituloBienvenidos {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.bienvenidos.fondoEncabezadoIndex .tituloBienvenidos h1 {
  color: #f6be03;
  font-size: 60px;
  font-family: 'Rye', cursive;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

/* Fin Bienvenidos */
/* Index Estudio */
.indexEstudio {
  text-align: center;
}

.indexEstudio .tituloIndexEstudio {
  margin-top: 20px;
  color: #f6be03;
  font-family: "Rye";
  padding: 30px;
}

.indexEstudio .barraIndexEstudio {
  color: #f6be03;
}

.indexEstudio .textoIndexEstudio {
  color: white;
  font-size: 20px;
  padding: 30px;
}

.indexEstudio .contenedorImagenIndexEstudio {
  position: relative;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.indexEstudio .contenedorImagenIndexEstudio .imagenIndexEstudio {
  width: 800px;
}

.indexEstudio .contenedorImagenIndexEstudio p {
  font-family: "Rye";
  position: absolute;
  top: 10px;
  left: 100px;
  font-size: 30px;
  color: #f6be03;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

.indexEstudio .contenedorImagenIndexEstudio:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

/* Fin Index Estudio */
/* Index Trabajos */
.indexTrabajos {
  text-align: center;
}

.indexTrabajos .tituloIndexrabajo {
  margin-top: 20px;
  color: #f6be03;
  font-family: "Rye";
  padding: 30px;
}

.indexTrabajos .barraIndexTrabajo {
  color: #f6be03;
}

.indexTrabajos .textoIndexTrabajo {
  color: white;
  font-size: 20px;
  padding: 30px;
}

.indexTrabajos .imagenGaleria {
  width: 100%;
  height: 300px;
}

.indexTrabajos .gridPadre {
  display: -ms-grid;
  display: grid;
  margin-bottom: 40px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: "imagenUno imagenDos imagenTres" "imagenCuatro imagenCinco imagenSeis" "imagenSiete imagenOcho imagenNueve";
}

.indexTrabajos .imagenUno {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: imagenUno;
  -webkit-transform: scale();
          transform: scale();
  -webkit-transition: 1s;
  transition: 1s;
}

.indexTrabajos .imagenUno:hover {
  border: solid 3px #f6be03;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.indexTrabajos .imagenDos {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: imagenDos;
  -webkit-transform: scale();
          transform: scale();
  -webkit-transition: 1s;
  transition: 1s;
}

.indexTrabajos .imagenDos:hover {
  border: solid 3px #f6be03;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.indexTrabajos .imagenTres {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: imagenTres;
  -webkit-transform: scale();
          transform: scale();
  -webkit-transition: 1s;
  transition: 1s;
}

.indexTrabajos .imagenTres:hover {
  border: solid 3px #f6be03;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.indexTrabajos .imagenCuatro {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: imagenCuatro;
  -webkit-transform: scale();
          transform: scale();
  -webkit-transition: 1s;
  transition: 1s;
}

.indexTrabajos .imagenCuatro:hover {
  border: solid 3px #f6be03;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.indexTrabajos .imagenCinco {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: imagenCinco;
  -webkit-transform: scale();
          transform: scale();
  -webkit-transition: 1s;
  transition: 1s;
}

.indexTrabajos .imagenCinco:hover {
  border: solid 3px #f6be03;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.indexTrabajos .imagenSeis {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: imagenSeis;
  -webkit-transform: scale();
          transform: scale();
  -webkit-transition: 1s;
  transition: 1s;
}

.indexTrabajos .imagenSeis:hover {
  border: solid 3px #f6be03;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.indexTrabajos .imagenSiete {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: imagenSiete;
  -webkit-transform: scale();
          transform: scale();
  -webkit-transition: 1s;
  transition: 1s;
}

.indexTrabajos .imagenSiete:hover {
  border: solid 3px #f6be03;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.indexTrabajos .imagenOcho {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: imagenOcho;
  -webkit-transform: scale();
          transform: scale();
  -webkit-transition: 1s;
  transition: 1s;
}

.indexTrabajos .imagenOcho:hover {
  border: solid 3px #f6be03;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.indexTrabajos .imagenNueve {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: imagenNueve;
  -webkit-transform: scale();
          transform: scale();
  -webkit-transition: 1s;
  transition: 1s;
}

.indexTrabajos .imagenNueve:hover {
  border: solid 3px #f6be03;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

/* Page El Estudio */
.elEstudio.fondoEncabezadoEstudio {
  padding: 170px 0;
  background: url(../img/Estudio1.jpeg);
  background-position: 0 35%;
  position: relative;
  height: 300px;
}

.elEstudio.fondoEncabezadoEstudio .tituloElEstudio {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.elEstudio.fondoEncabezadoEstudio .tituloElEstudio h1 {
  color: #f6be03;
  font-size: 60px;
  font-family: 'Rye', cursive;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

.pageEstudio {
  text-align: center;
  margin-top: 50px;
  position: relative;
}

.pageEstudio .tituloPageEstudio {
  position: absolute;
  text-align: left;
  color: #f6be03;
  font-family: "Rye";
  top: 5px;
  font-size: 58px;
}

.pageEstudio .subtituloPageEstudio {
  position: absolute;
  text-align: left;
  color: white;
  font-family: "Rye";
  top: 80px;
}

.pageEstudio .textoPageEstudio {
  position: absolute;
  text-align: justify;
  color: white;
  font-size: 20px;
  top: 120px;
  padding-top: 10px;
}

.pageEstudio button:not(:disabled), .pageEstudio [type=button]:not(:disabled), .pageEstudio [type=reset]:not(:disabled), .pageEstudio [type=submit]:not(:disabled) {
  background: #252525;
  width: 10%;
  height: 10%;
  top: 45%;
}

.pageEstudio .carousel-control-prev-icon {
  -webkit-filter: invert(28%) sepia(100%) saturate(3000%) hue-rotate(0deg) brightness(150%) contrast(105%);
          filter: invert(28%) sepia(100%) saturate(3000%) hue-rotate(0deg) brightness(150%) contrast(105%);
}

.pageEstudio .carousel-control-next-icon {
  -webkit-filter: invert(28%) sepia(100%) saturate(3000%) hue-rotate(0deg) brightness(150%) contrast(105%);
          filter: invert(28%) sepia(100%) saturate(3000%) hue-rotate(0deg) brightness(150%) contrast(105%);
}

.pageEstudio .imagenCarrousel {
  height: 400px;
}

.pageEstudio .nuestroEquipo {
  margin-top: 20px;
}

.pageEstudio .nuestroEquipo h4 {
  color: #f6be03;
  font-family: "Rye";
  padding: 30px;
  font-size: 32px;
}

.pageEstudio .nuestroEquipo .barra {
  color: #f6be03;
}

.pageEstudio .nuestroEquipo p {
  color: white;
  font-size: 20px;
}

.pageEstudio .nuestroEquipo .equipoTatuadores {
  margin-top: 20px;
}

.pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo1, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo2, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo3, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo4 {
  position: relative;
}

.pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo1 img, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo2 img, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo3 img, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo4 img {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo1 img:hover, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo2 img:hover, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo3 img:hover, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo4 img:hover {
  -webkit-filter: none;
          filter: none;
}

.pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo1 p, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo2 p, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo3 p, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo4 p {
  position: absolute;
  font-family: "Rye";
  color: #f6be03;
  top: 10px;
  left: 10px;
  z-index: 1;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

.pageEstudio .higieneYseguridad {
  margin-top: 60px;
}

.pageEstudio .higieneYseguridad .logo {
  width: 300px;
}

.pageEstudio .higieneYseguridad h5 {
  font-family: "Rye";
  color: #f6be03;
  font-size: 32px;
  text-align: left;
}

.pageEstudio .higieneYseguridad h6 {
  color: white;
  text-align: left;
  font-family: "Rye";
  font-size: 20px;
  margin-top: 20px;
}

.pageEstudio .higieneYseguridad p {
  margin: 20px 0 40px 0;
  text-align: left;
  color: white;
  font-size: 20px;
}

/* Fin Page El Estudio */
/* Page El estudio */
.trabajos.fondoEncabezadoTrabajos {
  padding: 170px 0;
  background: url(../img/imagenTrabajos.jpg);
  background-position: 0 45%;
  position: relative;
  height: 300px;
}

.trabajos.fondoEncabezadoTrabajos .tituloTrabajos {
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.trabajos.fondoEncabezadoTrabajos .tituloTrabajos h1 {
  color: #f6be03;
  font-size: 60px;
  font-family: "Rye";
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

.infoBraian h2 {
  color: #f6be03;
  font-family: "Rye";
  padding: 30px;
  text-align: right;
}

.infoBraian .imagenBraian {
  width: 100%;
  height: 500px;
}

.infoBraian p {
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: justify;
}

.infoBraian .imagenTrabajos {
  margin: 20px 0;
  width: 100%;
  height: 300px;
}

.infoGabriel h2 {
  color: #f6be03;
  font-family: "Rye";
  padding: 30px;
  text-align: left;
}

.infoGabriel .imagenGabriel {
  width: 100%;
  height: 500px;
}

.infoGabriel p {
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: justify;
}

.infoGabriel .imagenTrabajos {
  margin: 20px 0;
  width: 100%;
  height: 300px;
}

.infoDaiana h2 {
  color: #f6be03;
  font-family: "Rye";
  padding: 30px;
  text-align: right;
}

.infoDaiana .imagenDaiana {
  width: 100%;
  height: 500px;
}

.infoDaiana p {
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: justify;
}

.infoDaiana .imagenTrabajos {
  margin: 20px 0;
  width: 100%;
  height: 300px;
}

.infoJuan h2 {
  color: #f6be03;
  font-family: "Rye";
  padding: 30px;
  text-align: left;
}

.infoJuan .imagenJuan {
  width: 100%;
  height: 500px;
}

.infoJuan p {
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: justify;
}

.infoJuan .imagenTrabajos {
  width: 100%;
  height: 300px;
  margin: 20px 0 40px 0;
}

/* Page Cuidados */
.cuidados.fondoEncabezadoCuidados {
  padding: 170px 0;
  background: url(../img/imagenCuidados.jpg);
  background-position: -55px 50%;
  position: relative;
  height: 300px;
}

.cuidados.fondoEncabezadoCuidados .tituloCuidados {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.cuidados.fondoEncabezadoCuidados .tituloCuidados h1 {
  color: #f6be03;
  font-size: 60px;
  font-family: "Rye";
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

.cuidados.fondoEncabezadoCuidados .tituloCuidados .subtituloCuidados {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.cuidados.fondoEncabezadoCuidados .tituloCuidados .subtituloCuidados h3 {
  color: #f6be03;
  font-family: "Rye";
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

.infoCuidados {
  margin: 40px auto;
}

.infoCuidados p {
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: justify;
}

.infoCuidados .accordion-item {
  border: 1px solid #f6be03;
}

.infoCuidados .accordion-button {
  background: #252525;
  color: #f6be03;
  font-family: "Rye";
  text-transform: uppercase;
}

.infoCuidados .accordion-button::after {
  -webkit-filter: invert(28%) sepia(100%) saturate(3000%) hue-rotate(0deg) brightness(150%) contrast(105%);
          filter: invert(28%) sepia(100%) saturate(3000%) hue-rotate(0deg) brightness(150%) contrast(105%);
}

.infoCuidados .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.infoCuidados .imgInfoCuidados {
  float: right;
}

/* Page Contacto */
.contacto.fondoEncabezadoContacto {
  padding: 170px 0;
  background: url(../img/imagenCuidados.jpg);
  background-position: -55px 50%;
  position: relative;
  height: 300px;
}

.contacto.fondoEncabezadoContacto .tituloContacto {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.contacto.fondoEncabezadoContacto .tituloContacto h1 {
  color: #f6be03;
  font-size: 60px;
  font-family: "Rye";
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

.contacto.fondoEncabezadoContacto .tituloContacto .subtituloContacto {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.contacto.fondoEncabezadoContacto .tituloContacto .subtituloContacto h3 {
  color: #f6be03;
  font-family: "Rye";
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

.infoContacto h3 {
  color: #f6be03;
  font-family: "Rye";
  padding: 30px;
  text-align: center;
}

.infoContacto p {
  color: white;
  text-align: center;
  font-size: 20px;
}

.infoContacto p a {
  color: #f6be03;
  text-decoration: none;
}

.infoContacto .cardFormulario {
  background: #252525;
  border-radius: 25px;
  border: 3px solid #f6be03;
  width: 75%;
  margin-bottom: 20px;
}

.infoContacto .cardFormulario form {
  text-align: center;
  margin: 20px;
}

.infoContacto .cardFormulario form h5 {
  color: #f6be03;
  font-family: "Rye";
  font-size: 25px;
  padding: 20px;
}

.infoContacto .cardFormulario form p {
  font-size: 20px;
  padding: 20px;
}

.infoContacto .cardFormulario form .formularioContacto {
  color: white;
  margin-bottom: 15px;
  width: 25%;
  font-size: 20px;
}

.infoContacto .cardFormulario form .casilla {
  display: inline-block;
  width: 60%;
}

.infoContacto .cardFormulario form .recibirInfo {
  text-align: left;
  color: white;
  font-size: 20px;
  width: 50%;
}

.infoContacto .cardFormulario form .comment {
  color: white;
  width: 25%;
  font-size: 20px;
}

.infoContacto .cardFormulario form .textarea {
  display: inline-block;
  width: 90%;
  margin-bottom: -15px;
}

.infoContacto .cardFormulario form .botonContacto {
  background: #252525;
  color: #f6be03;
  font-family: "Rye";
  border: 1px solid #f6be03;
  border-radius: 25px;
  margin-top: 15px;
  font-size: 25px;
}

.infoContacto .ubicacion {
  text-align: center;
  font-family: "Rye";
  font-size: 30px;
  color: #f6be03;
  margin-top: 60px;
}

.infoContacto .mapa {
  width: 100%;
  border-radius: 2%;
  margin: 30px 0;
}

/* Footer */
footer {
  padding: 10px;
  text-align: center;
  background: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .left p {
  margin-top: 30px;
  font-family: "Rye";
  color: white;
  text-align: justify;
}

footer .left .pages {
  text-align: left;
}

footer .left ul {
  list-style: none;
}

footer .left ul a {
  text-decoration: none;
}

footer .left ul a .activo {
  color: #f6be03;
}

footer .left ul a li {
  font-family: "Rye";
  color: white;
}

footer .redes p {
  font-family: "Rye";
  color: white;
  font-size: 20px;
  margin-left: 35px;
}

footer .redes .logoRedes ul li {
  display: inline-block;
}

footer .redes .logoRedes ul li img {
  margin: 5px 10px;
  height: 25px;
}

footer .redes .logoRedes ul li:hover {
  -webkit-filter: invert(28%) sepia(100%) saturate(2607%) hue-rotate(0deg) brightness(104%) contrast(105%);
          filter: invert(28%) sepia(100%) saturate(2607%) hue-rotate(0deg) brightness(104%) contrast(105%);
}

/* Fin Footer */
@media screen and (max-width: 480px) {
  .bienvenidos.fondoEncabezadoIndex, .elEstudio.fondoEncabezadoEstudio, .trabajos.fondoEncabezadoTrabajos, .cuidados.fondoEncabezadoCuidados, .contacto.fondoEncabezadoContacto {
    padding: 120px;
    height: 0;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloBienvenidos, .elEstudio.fondoEncabezadoEstudio .tituloBienvenidos, .trabajos.fondoEncabezadoTrabajos .tituloBienvenidos, .cuidados.fondoEncabezadoCuidados .tituloBienvenidos, .contacto.fondoEncabezadoContacto .tituloBienvenidos {
    top: 100px;
    text-align: center;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloBienvenidos h1, .elEstudio.fondoEncabezadoEstudio .tituloBienvenidos h1, .trabajos.fondoEncabezadoTrabajos .tituloBienvenidos h1, .cuidados.fondoEncabezadoCuidados .tituloBienvenidos h1, .contacto.fondoEncabezadoContacto .tituloBienvenidos h1 {
    font-size: 29px;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloElEstudio, .elEstudio.fondoEncabezadoEstudio .tituloElEstudio, .trabajos.fondoEncabezadoTrabajos .tituloElEstudio, .cuidados.fondoEncabezadoCuidados .tituloElEstudio, .contacto.fondoEncabezadoContacto .tituloElEstudio {
    top: 110px;
    text-align: center;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloElEstudio h1, .elEstudio.fondoEncabezadoEstudio .tituloElEstudio h1, .trabajos.fondoEncabezadoTrabajos .tituloElEstudio h1, .cuidados.fondoEncabezadoCuidados .tituloElEstudio h1, .contacto.fondoEncabezadoContacto .tituloElEstudio h1 {
    font-size: 29px;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloTrabajos, .elEstudio.fondoEncabezadoEstudio .tituloTrabajos, .trabajos.fondoEncabezadoTrabajos .tituloTrabajos, .cuidados.fondoEncabezadoCuidados .tituloTrabajos, .contacto.fondoEncabezadoContacto .tituloTrabajos {
    top: 135px;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloTrabajos h1, .elEstudio.fondoEncabezadoEstudio .tituloTrabajos h1, .trabajos.fondoEncabezadoTrabajos .tituloTrabajos h1, .cuidados.fondoEncabezadoCuidados .tituloTrabajos h1, .contacto.fondoEncabezadoContacto .tituloTrabajos h1 {
    font-size: 40px;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloCuidados, .elEstudio.fondoEncabezadoEstudio .tituloCuidados, .trabajos.fondoEncabezadoTrabajos .tituloCuidados, .cuidados.fondoEncabezadoCuidados .tituloCuidados, .contacto.fondoEncabezadoContacto .tituloCuidados {
    top: 95px;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloCuidados h1, .elEstudio.fondoEncabezadoEstudio .tituloCuidados h1, .trabajos.fondoEncabezadoTrabajos .tituloCuidados h1, .cuidados.fondoEncabezadoCuidados .tituloCuidados h1, .contacto.fondoEncabezadoContacto .tituloCuidados h1 {
    font-size: 35px;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloCuidados .subtituloCuidados h3, .elEstudio.fondoEncabezadoEstudio .tituloCuidados .subtituloCuidados h3, .trabajos.fondoEncabezadoTrabajos .tituloCuidados .subtituloCuidados h3, .cuidados.fondoEncabezadoCuidados .tituloCuidados .subtituloCuidados h3, .contacto.fondoEncabezadoContacto .tituloCuidados .subtituloCuidados h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloContacto, .elEstudio.fondoEncabezadoEstudio .tituloContacto, .trabajos.fondoEncabezadoTrabajos .tituloContacto, .cuidados.fondoEncabezadoCuidados .tituloContacto, .contacto.fondoEncabezadoContacto .tituloContacto {
    top: 95px;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloContacto h1, .elEstudio.fondoEncabezadoEstudio .tituloContacto h1, .trabajos.fondoEncabezadoTrabajos .tituloContacto h1, .cuidados.fondoEncabezadoCuidados .tituloContacto h1, .contacto.fondoEncabezadoContacto .tituloContacto h1 {
    font-size: 35px;
  }
  .indexEstudio .tituloIndexEstudio {
    margin-top: 0;
  }
  .indexEstudio .textoIndexEstudio {
    text-align: left;
    font-size: 16px;
  }
  .indexEstudio .contenedorImagenIndexEstudio .imagenIndexEstudio {
    width: 280px;
  }
  .indexEstudio .contenedorImagenIndexEstudio p {
    font-size: 20px;
    left: 70px;
  }
  .indexTrabajos .tituloIndexTrabajo {
    margin-top: 0;
  }
  .indexTrabajos .textoIndexTrabajo {
    font-size: 16px;
  }
  .indexTrabajos .gridPadre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[9];
        grid-template-rows: repeat(9, auto);
        grid-template-areas: "imagenUno" "imagenDos" "imagenTres" "imagenCuatro" "imagenCinco" "imagenSeis" "imagenSiete" "imagenOcho" "imagenNueve";
  }
  .indexTrabajos .gridPadre .imagenGaleria {
    -webkit-transition: none;
    transition: none;
  }
  .indexTrabajos .gridPadre .imagenGaleria:hover {
    -webkit-transform: none;
            transform: none;
    border: none;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
  }
  footer .left p {
    margin-top: 5px;
    text-align: center;
  }
  footer .redes p {
    display: none;
  }
  footer .redes .logoRedes ul li {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .pageEstudio .imagenCarrousel {
    width: 100%;
    height: 400px;
  }
  .pageEstudio .row {
    position: relative;
    display: inline-block;
  }
  .pageEstudio .row > * {
    margin-top: 430px;
  }
  .pageEstudio .tituloPageEstudio {
    font-size: 32px;
    top: 0;
    left: 80px;
  }
  .pageEstudio .subtituloPageEstudio {
    top: 60px;
    text-align: center;
  }
  .pageEstudio .textoPageEstudio {
    font-size: 16px;
    width: 92%;
  }
  .pageEstudio .nuestroEquipo h4 {
    margin-top: -440px;
  }
  .pageEstudio .nuestroEquipo p {
    font-size: 16px;
  }
  .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo1, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo2, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo3, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo4 {
    margin-top: -425px;
  }
  .pageEstudio .higieneYseguridad .logo {
    display: none;
  }
  .pageEstudio .higieneYseguridad h5 {
    margin-top: -460px;
  }
  .pageEstudio .higieneYseguridad p {
    font-size: 16px;
  }
  .infoBraian .row, .infoGabriel .row, .infoDaiana .row, .infoJuan .row {
    display: block;
  }
  .infoBraian h2, .infoGabriel h2, .infoDaiana h2, .infoJuan h2 {
    text-align: center;
  }
  .infoBraian p, .infoGabriel p, .infoDaiana p, .infoJuan p {
    font-size: 16px;
  }
  .infoCuidados p {
    font-size: 16px;
  }
  .infoCuidados .cajaCuidados {
    margin: 30px 0;
  }
  .infoCuidados .imgInfoCuidados {
    width: 335px;
    height: 270px;
  }
  .infoContacto p {
    font-size: 16px;
  }
  .infoContacto .cardFormulario {
    width: 100%;
  }
  .infoContacto .cardFormulario form p {
    font-size: 16px;
  }
  .infoContacto .cardFormulario form .formularioContacto {
    width: auto;
    font-size: 16px;
  }
  .infoContacto .cardFormulario form .casilla {
    display: block;
    width: 100%;
  }
  .infoContacto .cardFormulario form .recibirInfo {
    width: auto;
    font-size: 16px;
    text-align: center;
  }
  .infoContacto .cardFormulario form .textarea {
    width: 100%;
  }
  .infoContacto .cardFormulario form .botonContacto {
    font-size: 16px;
  }
}

@media screen and (min-width: 480px) and (max-width: 780px) {
  .bienvenidos.fondoEncabezadoIndex, .elEstudio.fondoEncabezadoEstudio, .trabajos.fondoEncabezadoTrabajos, .cuidados.fondoEncabezadoCuidados, .contacto.fondoEncabezadoContacto {
    height: 438px;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloBienvenidos, .elEstudio.fondoEncabezadoEstudio .tituloBienvenidos, .trabajos.fondoEncabezadoTrabajos .tituloBienvenidos, .cuidados.fondoEncabezadoCuidados .tituloBienvenidos, .contacto.fondoEncabezadoContacto .tituloBienvenidos {
    top: 150px;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloBienvenidos h1, .elEstudio.fondoEncabezadoEstudio .tituloBienvenidos h1, .trabajos.fondoEncabezadoTrabajos .tituloBienvenidos h1, .cuidados.fondoEncabezadoCuidados .tituloBienvenidos h1, .contacto.fondoEncabezadoContacto .tituloBienvenidos h1 {
    font-size: 50px;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloCuidados .subtituloCuidados, .elEstudio.fondoEncabezadoEstudio .tituloCuidados .subtituloCuidados, .trabajos.fondoEncabezadoTrabajos .tituloCuidados .subtituloCuidados, .cuidados.fondoEncabezadoCuidados .tituloCuidados .subtituloCuidados, .contacto.fondoEncabezadoContacto .tituloCuidados .subtituloCuidados {
    top: 140px;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloContacto, .elEstudio.fondoEncabezadoEstudio .tituloContacto, .trabajos.fondoEncabezadoTrabajos .tituloContacto, .cuidados.fondoEncabezadoCuidados .tituloContacto, .contacto.fondoEncabezadoContacto .tituloContacto {
    top: 170px;
  }
  .bienvenidos.fondoEncabezadoIndex .tituloContacto .subtituloCuidados, .elEstudio.fondoEncabezadoEstudio .tituloContacto .subtituloCuidados, .trabajos.fondoEncabezadoTrabajos .tituloContacto .subtituloCuidados, .cuidados.fondoEncabezadoCuidados .tituloContacto .subtituloCuidados, .contacto.fondoEncabezadoContacto .tituloContacto .subtituloCuidados {
    top: 125px;
  }
  .indexEstudio .contenedorImagenIndexEstudio {
    left: -5px;
  }
  .indexEstudio .contenedorImagenIndexEstudio p {
    left: 150px;
  }
  .indexTrabajos .gridPadre {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas: "imagenUno imagenDos" "imagenTres imagenCuatro" "imagenCinco imagenSeis" "imagenSiete imagenOcho" "imagenNueve ImagenNueve";
  }
  .indexTrabajos .gridPadre .imagenGaleria {
    -webkit-transition: none;
    transition: none;
  }
  .indexTrabajos .gridPadre .imagenGaleria:hover {
    -webkit-transform: none;
            transform: none;
    border: none;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .left p {
    margin-top: 5px;
    text-align: center;
  }
  footer .redes p {
    display: none;
  }
  footer .redes .logoRedes ul li {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .pageEstudio .imagenCarrousel {
    width: 100%;
    height: 400px;
  }
  .pageEstudio .row {
    position: relative;
    display: inline-block;
  }
  .pageEstudio .row > * {
    margin-top: 330px;
  }
  .pageEstudio .tituloPageEstudio {
    font-size: 32px;
    top: 0;
    text-align: none;
    left: 180px;
  }
  .pageEstudio .subtituloPageEstudio {
    top: 60px;
    left: 80px;
  }
  .pageEstudio .textoPageEstudio {
    font-size: 16px;
    text-align-last: center;
    width: 92%;
  }
  .pageEstudio .nuestroEquipo h4 {
    margin-top: -350px;
  }
  .pageEstudio .nuestroEquipo p {
    font-size: 16px;
  }
  .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo1, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo2, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo3, .pageEstudio .nuestroEquipo .equipoTatuadores .contenedorEquipo4 {
    margin-top: -325px;
  }
  .pageEstudio .higieneYseguridad .logo {
    display: none;
  }
  .pageEstudio .higieneYseguridad h5 {
    margin-top: -350px;
  }
  .pageEstudio .higieneYseguridad p {
    font-size: 16px;
  }
  .infoBraian .row, .infoGabriel .row, .infoDaiana .row, .infoJuan .row {
    display: block;
  }
  .infoBraian h2, .infoGabriel h2, .infoDaiana h2, .infoJuan h2 {
    text-align: center;
  }
  .infoCuidados .imgInfoCuidados {
    margin: 30px 0;
  }
  .infoContacto .cardFormulario {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */