@media screen and (max-width: 480px){

    .bienvenidos.fondoEncabezadoIndex, .elEstudio.fondoEncabezadoEstudio, .trabajos.fondoEncabezadoTrabajos, .cuidados.fondoEncabezadoCuidados, .contacto.fondoEncabezadoContacto{
        padding: 120px;
        height: 0;
        background-position: 0;

        .tituloBienvenidos {
            top: 50%;
            text-align: center;

            h1 {
                font-size: 24px;
            }
        }

        .tituloElEstudio {
            top: 110px;
            text-align: center;

            h1{
                font-size: 29px;
            }
        }

        .tituloTrabajos {
            top: 135px;

            h1{
                font-size: 40px;
            }
        }

        .tituloCuidados {
            top: 95px;

            h1{
                font-size: 25px;
            }

            .subtituloCuidados{
                h3{
                    font-size: 18px;
                    margin-top: -10px;
                }
            }
        }

        .tituloContacto{
            top: 95px;

            h1{
                font-size: 35px;
            }

        }

    }

    .indexEstudio{
        .tituloIndexEstudio{
            margin-top: 0;
        }

        .textoIndexEstudio{
            text-align: center;
            font-size: 16px;
        }

        .contenedorImagenIndexEstudio{
            
            .imagenIndexEstudio{
                width: 100%;
            }
            p{
                font-size: 20px;
                left: 0;
                right: 0;
            }
        }
    }

    .indexTrabajos{
        .tituloIndexTrabajo{
            margin-top: 0;
        }

        .textoIndexTrabajo{
            font-size: 16px;
        }

        .gridPadre {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(9, auto);
            grid-template-areas:
                "imagenUno"
                "imagenDos"
                "imagenTres"
                "imagenCuatro"
                "imagenCinco"
                "imagenSeis"
                "imagenSiete"
                "imagenOcho"
                "imagenNueve"
            ;
            padding: 20px;

            .imagenGaleria{

                transition: none;
                &:hover{
                    transform: none;
                    border: none;
                }
            }
    
        }

    }

    footer{
        flex-direction: column;
        font-size: 16px;

        .left {
            p {
                margin-top: 5px;
                text-align: center;
            }
        }

        .redes {
            p {
                display: none;
            }

            .logoRedes{
                ul{
                    li{ 
                      justify-self: center;
                    }
                }
            }
        }
    }

    .pageEstudio {

        .carousel {
            padding: 20px;

            .imagenCarrousel{
                width: 100%;
                height: 400px;
            }
        }

        .row{
            position: relative;
            display: inline-block;

            &>* {
                margin-top: 430px;
            }
        }

        .tituloPageEstudio {
            font-size: 32px;
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
        }
    
        .subtituloPageEstudio {
            top: 60px;
            text-align: center;
            left: 0;
            right: 0;
            padding: 0 30px;
        }
    
        .textoPageEstudio{
            font-size: 16px;
            width: 92%;
            padding: 20px;
        }

        .nuestroEquipo {
            padding: 20px;
            h4 {
                margin-top: -440px;
            }

            p {
                font-size: 16px;
            }

            .equipoTatuadores {
                
                .contenedorEquipo1, .contenedorEquipo2, .contenedorEquipo3, .contenedorEquipo4 {
                    margin-top: -425px;
                    padding: 20px;

                    p{
                        top: 5%;
                        left: 8%;
                    }
                }
            }
        }

        .higieneYseguridad{

            .logo{
                display: none;
            }

            h5 {
                margin-top: -460px;
                text-align: center;
            }

            h6 {
                text-align: center;
            }

            p {
                font-size: 16px;
                padding: 20px;
                text-align: center;
            }
        }

    }

    .infoBraian, .infoGabriel, .infoDaiana, .infoJuan {
        .row{
            display: block;
        }

        h2 {
            text-align: center;
        }

        .imagenBraian, .imagenGabriel, .imagenDaiana, .imagenJuan {
            padding: 20px;
        }

        .imagenTrabajos { 
            padding:0 20px;
        }

        p{
            font-size: 16px;
            text-align: center;
            padding: 20px;
        }

    }

    .infoCuidados {

        p{
            font-size: 16px;
            text-align: center;
            padding: 20px;
        }

        .cajaCuidados {
            margin: 30px 0;
            padding: 20px;
        }

        .imagenCuidados {
            display: none;
        } 

    }

    .infoContacto {
        p{
            font-size: 16px;
        }

        .cardFormulario{
            width: 100%;

            form {
                p {
                    font-size: 16px;
                }

                .formularioContacto{
                    width: auto;
                    font-size: 16px;
                }

                .casilla {
                    display: block;
                    width: 100%;
                }

                .recibirInfo {
                    width: auto;
                    font-size: 16px;
                    text-align: center;
                }

                .textarea{
                    width: 100%;
                }

                .botonContacto {
                    font-size: 16px;
                }
            }
        }
    }
    
}

@media screen and (min-width: 480px) and (max-width: 780px){
    .bienvenidos.fondoEncabezadoIndex, .elEstudio.fondoEncabezadoEstudio, .trabajos.fondoEncabezadoTrabajos, .cuidados.fondoEncabezadoCuidados, .contacto.fondoEncabezadoContacto{
        height: 300px;
        height: 300px;
        background-position: 0;

        .tituloBienvenidos{
            top: 42%;
            text-align: center;
            h1 {
                font-size: 37px;
            }
        }

        .tituloCuidados {
            h1{
                font-size: 37px;
            }
            .subtituloCuidados{
                top: 10%;
            }
        }

        .tituloContacto {
            top: 170px;

            .subtituloCuidados{
                top: 125px;
            }
        }
    }

    .indexEstudio {
        .contenedorImagenIndexEstudio{

            .imagenIndexEstudio{
                width: 100%;
            }
            p{
                left: 0;
                right: 0;
            }
        }

        .textoIndexEstudio{
            padding: 20px;
        }
    }

    .indexTrabajos{
        .textoIndexTrabajo{
            padding: 20px;
        }

        .gridPadre {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas:
                "imagenUno imagenDos"
                "imagenTres imagenCuatro"
                "imagenCinco imagenSeis"
                "imagenSiete imagenOcho"
                "imagenNueve ImagenNueve"
            ;
            padding: 20px;

            .imagenGaleria{
                transition: none;
                &:hover{
                    transform: none;
                    border: none;
                }
            }
        }
        
    }

    footer{
        flex-direction: column;

        .left {
            p {
                margin-top: 5px;
                text-align: center;
            }
        }

        .redes {
            p {
                display: none;
            }

            .logoRedes{
                ul{
                    li{ 
                      justify-self: center;
                    }
                }
            }
        }
    }

    .pageEstudio {

        .imagenCarrousel{
            width: 100%;
            height: 400px;
        }

        .row{
            position: relative;
            display: inline-block;

            &>* {
                margin-top: 330px;
                padding: 20px;
            }
        }

        .tituloPageEstudio {
            font-size: 32px;
            top: 0;
            text-align: center;
            left: 0;
            right: 0;
        }
    
        .subtituloPageEstudio {
            top: 60px;
            left: 0;
            right: 0;
            text-align: center;
        }
    
        .textoPageEstudio{
            font-size: 16px;
            text-align: center;
            width: 92%;
            padding: 20px;
        }

        .nuestroEquipo {
            h4 {
                margin-top: -350px;
            }

            p {
                font-size: 16px;
                padding: 20px;
            }

            .equipoTatuadores {
                
                .contenedorEquipo1, .contenedorEquipo2, .contenedorEquipo3, .contenedorEquipo4 {
                    margin-top: -325px;
                }
            }
        }

        .higieneYseguridad{

            .logo{
                display: none;
            }

            h5 {
                margin-top: -350px;
                text-align: center;
            }

            h6 {
                text-align: center;
            }

            p {
                font-size: 16px;
                text-align: center;
                padding: 20px;
            }
        }

    }

    .infoBraian, .infoGabriel, .infoDaiana, .infoJuan {

        .imagenBraian, .imagenGabriel, .imagenDaiana, .imagenJuan {
            padding: 20px;
        }
        
        .imagenTrabajos{
            padding: 0 20px;
        }

        .row{
            display: block;
        }

        h2 {
            text-align: center;
        }

        p{
            padding: 20px;
            text-align: center;
        }

    }

    .infoCuidados {
        p{
            padding: 20px;
        }

        .cajaCuidados{
            padding: 20px;
        }

        .imagenCuidados {
            display: flex;

            .imgInfoCuidados {
                flex: auto;
                margin: 30px 0;
                padding: 20px;
            }
        }

        .logo {
            display: none;
        }
    }

    .infoContacto {

        p{
            padding: 20px;
        }

        .cardFormulario{
            width: 100%;
            padding: 20px;
        }
    }

}

